/* Overwrite styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-primary: #006FE8;
  --color-secondary: #E88800;
  --color-white: #FFF;
  --color-secondary-white: #D1D5DB;
  --color-black: #0B0B0B;
  --color-grey: #262626;
  --color-green: #34C578;
  --color-red: #DD5352;
  --color-blue: #006FE8;
  --color-orange: #E88800;
  --border-color: #737373;
  --title-color: var(--color-white);
  --ifm-code-font-size: 95%;
  --ifm-menu-color-background-hover: rgba(0, 193, 255, .15);
  --ifm-menu-color-background-active: rgba(0, 193, 255, .15);
  --ifm-font-color-base: var(--color-white);
  --ifm-menu-color: var(--color-black);
  --ifm-toc-link-color: var(--color-black);
  --ifm-alert-color: var(--color-black);
  --ifm-color-primary: var(--color-primary);
  --ifm-color-primary-dark: var(--color-primary);
  --ifm-color-primary-darker: var(--color-primary);
  --ifm-color-primary-darkest: var(--color-primary);
  --ifm-color-primary-light: var(--color-primary);
  --ifm-color-primary-lighter: var(--color-primary);
  --ifm-color-primary-lightest: var(--color-primary);
  --ifm-toc-border-color: var(--border-color);
  --ifm-color-success: var(--color-green);
  --ifm-color-danger: var(--color-red);
  --ifm-color-info: var(--color-blue);
  --ifm-color-warning: var(--color-orange);

    --ifm-font-family-base:                                 "Inter", sans-serif;
    --ifm-font-family-monospace:                                          "...";

    --ifm-transition-fast:                                                300ms;
    --ifm-transition-slow:                                                500ms;
    --ifm-transition-timing-default:             cubic-bezier(0.08,0.52,0.52,1);

    --ifm-global-shadow-lw:                          0 1px 2px 0 rgba(0,0,0,.1);
    --ifm-global-shadow-md:                           0 5px 40px rgba(0,0,0,.2);
    --ifm-global-shadow-tl:    28px 0 rgba(0,0,0,.2),0 2px 4px 0 rgba(0,0,0,.1);

  --ifm-heading-color: inherit;
  --ifm-heading-margin-top: 0;
  --ifm-heading-margin-bottom: var(--ifm-spacing-vertical);
  --ifm-heading-font-family: var(--ifm-font-family-base);
  --ifm-heading-font-weight: var(--ifm-font-weight-semibold);
  --ifm-heading-line-height: 1.25;

  --ifm-h1-font-size: 1.5rem;
  --ifm-h2-font-size: 1.3rem;
  --ifm-h3-font-size: 1.3rem;
  --ifm-h4-font-size: 1.1rem;
  --ifm-h5-font-size: 0.875rem;
  --ifm-h6-font-size: 0.85rem;
}
html[data-theme='dark'] {
  --ifm-background-color: var(--color-black);
  --ifm-background-surface-color: var(--color-black);
  --ifm-navbar-link-color: var(--color-white);
  --border-color: #737373;
  --title-color: var(--color-white);
  --ifm-font-color-base: var(--color-secondary-white);
  --ifm-alert-color: var(--color-white);
  --ifm-menu-color: var(--color-white);
  --ifm-toc-link-color: var(--color-white);
  --ifm-tabs-color: var(--color-white);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ifm-heading-color);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
    
      @each $color in (primary, secondary, success, info, warning, danger) {
    --ifm-color-$(color)-contrast-background: color-mod(
      var(--ifm-color-$(color)),
      shade(var(--ifm-contrast-background-dark-value))
    );
    --ifm-color-$(color)-contrast-foreground: color-mod(
      var(--ifm-color-$(color)),
      tint(var(--ifm-contrast-foreground-dark-value))
    );
  }
}

@for $size from 1 to 6 {
  h$(size) {
    font-size: var(--ifm-h$(size)-font-size);
  }
}
article {
  max-width: 1000px;
  margin-left: 50px;
  margin-right: auto;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

a {
  transition: color .3s;
}
a:hover {
  color: var(--color-secondary);
}

.table-of-contents__link:hover, .table-of-contents__link:hover code,
.table-of-contents__link--active, .table-of-contents__link--active code,
.menu__link--active {
  transition: .3s color;
}

.pagination-nav__link {
  border-color: var(--border-color);
}

.pagination-nav__link {
  transition: color .3s, border-color .3s;
}
.pagination-nav__link:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}
