/* Overwrite styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-primary: #006FE8;
  --color-secondary: #E88800;
  --color-white: #FFF;
  --color-secondary-white: #D1D5DB;
  --color-black: #0B0B0B;
  --color-grey: #262626;
  --color-green: #34C578;
  --color-red: #DD5352;
  --color-blue: #006FE8;
  --color-orange: #E88800;
  --border-color: #737373;
  --title-color: var(--color-white);
  --ifm-code-font-size: 95%;
  --ifm-menu-color-background-hover: rgba(0, 193, 255, .15);
  --ifm-menu-color-background-active: rgba(0, 193, 255, .15);
  --ifm-font-color-base: var(--color-white);
  --ifm-menu-color: var(--color-black);
  --ifm-toc-link-color: var(--color-black);
  --ifm-alert-color: var(--color-black);
  --ifm-color-primary: var(--color-primary);
  --ifm-color-primary-dark: var(--color-primary);
  --ifm-color-primary-darker: var(--color-primary);
  --ifm-color-primary-darkest: var(--color-primary);
  --ifm-color-primary-light: var(--color-primary);
  --ifm-color-primary-lighter: var(--color-primary);
  --ifm-color-primary-lightest: var(--color-primary);
  --ifm-toc-border-color: var(--border-color);
  --ifm-color-success: var(--color-green);
  --ifm-color-danger: var(--color-red);
  --ifm-color-info: var(--color-blue);
  --ifm-color-warning: var(--color-orange);

    --ifm-font-family-base:                                 "Inter", sans-serif;
    --ifm-font-family-monospace:                                          "...";

    --ifm-transition-fast:                                                300ms;
    --ifm-transition-slow:                                                500ms;
    --ifm-transition-timing-default:             cubic-bezier(0.08,0.52,0.52,1);

    --ifm-global-shadow-lw:                          0 1px 2px 0 rgba(0,0,0,.1);
    --ifm-global-shadow-md:                           0 5px 40px rgba(0,0,0,.2);
    --ifm-global-shadow-tl:    28px 0 rgba(0,0,0,.2),0 2px 4px 0 rgba(0,0,0,.1);

  --ifm-heading-color: inherit;
  --ifm-heading-margin-top: 15px;
  --ifm-heading-margin-bottom: var(--ifm-spacing-vertical);
  --ifm-heading-font-family: var(--ifm-font-family-base);
  --ifm-heading-font-weight: var(--ifm-font-weight-bold);
  --ifm-heading-line-height: 1.25;

  --ifm-h1-font-size: 1.5rem;
  --ifm-h2-font-size: 1.3rem;
  --ifm-h3-font-size: 1.1rem;
  --ifm-h4-font-size: 1rem;
  --ifm-h5-font-size: 0.875rem;
  --ifm-h6-font-size: 0.85rem;
}
html[data-theme='dark'] {
  --ifm-background-color: var(--color-black);
  --ifm-background-surface-color: var(--color-black);
  --ifm-navbar-link-color: var(--color-white);
  --border-color: #737373;
  --title-color: var(--color-white);
  --ifm-font-color-base: var(--color-secondary-white);
  --ifm-alert-color: var(--color-white);
  --ifm-menu-color: var(--color-white);
  --ifm-toc-link-color: var(--color-white);
  --ifm-tabs-color: var(--color-white);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ifm-heading-color);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  margin: var(--ifm-heading-margin-top) 15px var(--ifm-heading-margin-bottom) 0;
}


@for $size from 1 to 6 {
  h$(size) {
    font-size: var(--ifm-h$(size)-font-size);
  }
}
article {
  max-width: 1000px;
  margin-left: 30px;
  margin-right: 30px;
}


.table-of-contents__link:hover, .table-of-contents__link:hover code,
.table-of-contents__link--active, .table-of-contents__link--active code,
.menu__link--active {
  transition: .3s color;
}
:root {
  /* Links. */
  --ifm-link-color: var(--ifm-color-primary);
  --ifm-link-decoration: none;
  --ifm-link-hover-color: var(--ifm-link-color);
  --ifm-link-hover-decoration: underline;

  /* Paragraphs. */
  --ifm-paragraph-margin-bottom: var(--ifm-leading);

  /* Blockquotes. */
  --ifm-blockquote-font-size: var(--ifm-font-size-base);
  --ifm-blockquote-border-left-width: 2px;
  --ifm-blockquote-padding-horizontal: var(--ifm-spacing-horizontal);
  --ifm-blockquote-padding-vertical: 0;
  --ifm-blockquote-shadow: none;
  --ifm-blockquote-color: var(--ifm-color-emphasis-800);
  --ifm-blockquote-border-color: var(--ifm-color-emphasis-300);

  /* Horizontal Rules. */
  --ifm-hr-background-color: var(--ifm-color-emphasis-500);
  --ifm-hr-height: 1px;
  --ifm-hr-margin-vertical: 1.5rem;
}

strong {
  font-weight: var(--ifm-font-weight-bold);
}

/* Links */
a {
  color: var(--ifm-link-color);
  /* autoprefixer: ignore next */
  text-decoration: var(--ifm-link-decoration);
  @mixin transition color;

  &:hover {
    color: var(--ifm-link-hover-color);
    /* autoprefixer: ignore next */
    text-decoration: var(--ifm-link-hover-decoration);
  }

  &:not([href]) {
    text-decoration: none;
  }
}

/* Paragraphs */
p {
  margin: 0 0 var(--ifm-paragraph-margin-bottom);
}

/* Blockquotes */
blockquote {
  border-left: var(--ifm-blockquote-border-left-width) solid
    var(--ifm-blockquote-border-color);
  box-shadow: var(--ifm-blockquote-shadow);
  color: var(--ifm-blockquote-color);
  font-size: var(--ifm-blockquote-font-size);
  margin: 0 0 var(--ifm-spacing-vertical);
  padding: var(--ifm-blockquote-padding-vertical)
    var(--ifm-blockquote-padding-horizontal);

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

/* Horizontal Rules */
hr {
  background-color: var(--ifm-hr-background-color);
  border: 0;
  height: var(--ifm-hr-height);
  margin: var(--ifm-hr-margin-vertical) 0;
}


:root {
  --ifm-list-left-padding: 2rem;
  --ifm-list-margin: 1rem;
  --ifm-list-item-margin: 0.25rem;
  --ifm-list-paragraph-margin: 1rem;
}

/* Lists */
ul,
ol {
  margin: 0 0 var(--ifm-list-margin);
  padding-left: var(--ifm-list-left-padding);
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}
